body {
    margin: 0
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50
}

.menu {
    background: #483d8b;
    border-radius: 5px;
    padding: 15px
}

.menu a {
    color: #fff;
    padding: 10px
}

div {
    box-sizing: border-box
}

.black_bg {
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0
}

.black_bg,
.white_bg {
    width: 100%;
    padding: 20px
}

.white_bg {
    background: #fff;
    border-radius: 8px
}

.imgS {
    width: 100%;
    margin-top: 50px
}

h3[data-v-a87ea5ee] {
    margin: 40px 0 0
}

ul[data-v-a87ea5ee] {
    list-style-type: none;
    padding: 0
}

li[data-v-a87ea5ee] {
    display: inline-block;
    margin: 0 10px
}

a[data-v-a87ea5ee] {
    color: #42b983
}